@import "tailwindcss";

@theme {
  /* Primary Color */
  --color-primary: oklch(0.7 0.14 182.503);
  
  /* Fonts */
  --font-heading: "Cormorant Garamond", serif;
  --font-sans: "Outfit", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Apply your default font here */
  font-family: var(--font-sans);
}

.neumorphism-btn-flat {
    background: #E6EBF0;
    box-shadow: 6px 6px 18px #c4c8cc, -6px -6px 18px #ffffff;
    transition: all 0.3s ease;
}

.neumorphism-flat {
    background: #E6EBF0;
    box-shadow: 20px 20px 60px #c4c8cc, -20px -20px 60px #ffffff;
}

.neumorphism-input {
    background: #E6EBF0;
    box-shadow: inset 5px 5px 15px #c4c8cc, inset -5px -5px 15px #ffffff;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}